p {
    font-size: 40px;
    text-align: center;
    margin-top: 150px;
    animation: hello 2s infinite;
    transform: scale(1.2);
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

@keyframes hello {
    0% { color: aqua; }
    50% { color: greenyellow; }
    100% { color: green; }
}
@media (max-width: 768px) {
    p {
        font-size: 24px;
        margin-top: 80px;
    }
}
